html,body{
    width:100%;
    height:100%
}
body{
    display: flex;
    /* font-family: "华文细黑"; */
    background:url("https://ouo.wxw.moe/media_attachments/files/105/985/285/654/981/364/original/ebe86352d2f5cc3a.png") no-repeat;
    /* background-size: 100%; */
    background-position:center ;
    height: 100%;

    font-family:New Century Schoolbook,TeX Gyre Schola,serif;
    font-size: x-large;
  }
body .left{
    flex: 1;
    /* background-color: aqua; */
    /* height: 50%; */
    /* height: 100%; */
    justify-content: center;
    align-items: center;
    display: flex;

}
body .left .left_content{
    display: flex;
    height:50%;
    width: 50%;
    /* background-color: brown; */
    justify-content: center;
    align-items: center;
    color: cornsilk;

}
body .middle{
    flex:1;
    /* background-color: blue; */
}
body .right{
    flex: 1;
    /* background-color: aqua; */
    /* height: 50%; */
    /* height: 100%; */
    justify-content: center;
    align-items: center;
    display: flex;
}

body .right .right_content{
    display: flex;
    height:50%;
    width: 50%;
    /* background-color: brown; */
    justify-content: center;
    align-items: center;
    color: cornsilk;

}

a{
    color:currentColor;
    text-decoration: none;

}